body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background-color: white;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.todo-container {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(178, 247, 136);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.day-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 30%;
  margin-bottom: 40dvh;
}

#main-year {
  padding-left: 1em;
  margin-bottom: -0.5em;
  letter-spacing: 1em;
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  text-align: center;
}

#main-day {
  font-weight: bold;
  font-size: 100px;
  text-shadow: 2px -2px 0 rgb(178, 247, 136) -2px -2px 0 rgb(178, 247, 136);
}

#main-date {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
  background: rgb(2, 6, 30);
  font-size: 25px;
  color: rgb(178, 247, 136);
  margin-top: -0.5em;
}

.todo-input-box {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5dvh;
}

.todo-box {
  margin-top: 40dvh;
  width: 80%;
  height: 35dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(2, 6, 30);
  box-shadow: 2px 2px 0 rgb(2, 6, 30);
  margin-bottom: 3dvh;
}

#todo-list {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  overflow-y: auto;
}

.add-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 77%;
}

#todo-input {
  height: auto;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  background: transparent;
  border: none;
  font-weight: bold;
}

#input-btn {
  padding: 7px 17px;
  background-color: rgb(2, 6, 30);
  border-radius: 20px 5px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(178, 247, 136);
  z-index: 10;
  margin-left: 20px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
}

li button {
  width: 7px;
  height: 15px;
  background: rgb(178, 247, 136);
  margin: 0.5rem;
  box-shadow: 2px 2px 0 rgb(2, 6, 30);
  border-radius: 3px;
}

li button:active {
  border: 2px solid grey;
}

.delete {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  padding-right: 5px;
}

.delete:hover {
  font-size: 17px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.6;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  background-color: rgb(2, 6, 30);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.middle-box {
  margin-bottom: 5dvh;
}
.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 5dvh;
}

.next-btn {
  width: 28px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 23px;
  line-height: 25px;
  cursor: pointer;
  color: white;
  margin: 0 30px;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  color: white;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 40px;
  width: 70%;
  margin-bottom: 20px;
}

.day {
  padding: 8px;
  place-items: center;
  display: grid;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 40px;
  width: 70%;
}

.date {
  cursor: pointer;
  place-items: left;
  display: grid;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  padding: 14px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.03);
  border: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.nextday {
  cursor: pointer;
  padding: 5px;
  place-items: center;
  display: grid;
  opacity: 0.3;
  font-size: 20px;
}

.today {
  background: rgb(255, 123, 80);

  color: white;
  box-shadow: 0 0 3rem rgb(255, 123, 80);
}
