body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 60dvw;
  height: 60dvh;

  margin: 10dvh 17dvw;
  padding: 50px;
}

.todo-container {
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 5dvw;
  background-color: skyblue;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #fdefde;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.next-btn {
  width: 28px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 23px;
  line-height: 25px;
  cursor: pointer;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  width: 70%;
  margin-bottom: 20px;
}

.day {
  padding: 5px;
  place-items: center;
  display: grid;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  width: 70%;
}

.date {
  cursor: pointer;
  padding: 5px;
  place-items: center;
  display: grid;
}

.nextday {
  cursor: pointer;
  padding: 5px;
  place-items: center;
  display: grid;
  opacity: 0.3;
}

.today {
  color: red;
}
