body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background-color: white;
}

.header {
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 60dvw;
  height: 60dvh;

  margin: 10dvh 17dvw;
  padding: 50px;
}

.todo-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5dvw;
  background-color: skyblue;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#todo-list {
  list-style-type: none;
  width: 75%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

li button {
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
}

li button:active {
  border: 2px solid grey;
}

.delete {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 15px;
  cursor: pointer;
}

.delete:hover {
  font-size: 17px;
}

.complete {
  text-decoration: line-through;
}

#todo-input {
  width: 70%;
  font-size: 1rem;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #fdefde;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.next-btn {
  width: 28px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 23px;
  line-height: 25px;
  cursor: pointer;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  width: 70%;
  margin-bottom: 20px;
}

.day {
  padding: 5px;
  place-items: center;
  display: grid;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  width: 70%;
}

.date {
  cursor: pointer;
  padding: 5px;
  place-items: center;
  display: grid;
}

.nextday {
  cursor: pointer;
  padding: 5px;
  place-items: center;
  display: grid;
  opacity: 0.3;
}

.today {
  color: red;
}
